@model PhoneNumbersModel

<form class="form-group" method="post" asp-action="DeletePhoneNumber" asp-controller="Contacts">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col text-center">
            <h1>Deseja apagar esse número de telefone?</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="submit" class="btn btn-danger">Apagar</button>
        </div>
        <div class="col">
            <a type="submit" class="btn btn-primary" role="button" asp-controller="Contacts" asp-action="Index">Voltar</a>
        </div>
    </div>
</form>